In [1]:
import json
from progressbar import progressbar as pb
import pandas as pd

import sys
sys.path.append("../") # use utils

In [2]:
with open("../../data/api_results/doc_id2abstract.json") as f:
    doc_id2abstract = json.load(f)
len(doc_id2abstract)

9187

In [3]:
df = pd.read_csv("../data_to_process_w_2022.csv").query("data_source == '2022'")
df.head(2)

,data_source,query_id,description,query,label
203,2022,151,Do tea bags help to clot blood in pulled teeth?,tea bags clot blood pulled teeth,1.0
204,2022,152,Can crystals heal?,crystals heal,0.0

## Description

In [4]:
with open("explorer_abstracts_2022_description.json") as f:
    descr_info = json.load(f)

In [5]:
for_dataframe = {item: [] for item in ["query_id", "data_source", "pubmed_id", "abstract"]}

for data_source, item in descr_info.items():
    for query_id, doc_ids in item.items():
        for doc_id in doc_ids:
            for_dataframe['query_id'].append(query_id)
            for_dataframe['data_source'].append(data_source)
            for_dataframe['pubmed_id'].append(doc_id)
            for_dataframe['abstract'].append(doc_id2abstract[doc_id])

In [6]:
fin_df = (
    pd.DataFrame(for_dataframe)
    .merge(df, on=["query_id", "data_source"])
)
fin_df = fin_df.assign(query_processed=fin_df.description)
print(len(fin_df))
fin_df.head(2)

483

,query_id,data_source,pubmed_id,abstract,description,query,label,query_processed
0,151,2022,30984314,Medicinal plant products have been used in hea...,Do tea bags help to clot blood in pulled teeth?,tea bags clot blood pulled teeth,1.0,Do tea bags help to clot blood in pulled teeth?
1,151,2022,25024733,Background. Removing tooth results in gingival...,Do tea bags help to clot blood in pulled teeth?,tea bags clot blood pulled teeth,1.0,Do tea bags help to clot blood in pulled teeth?

In [7]:
fin_df.to_csv("explorer_abstracts_description_2022.csv", index=0)

## Query

In [8]:
with open("explorer_abstracts_2022_query.json") as f:
    query_info = json.load(f)

In [9]:
for_dataframe = {item: [] for item in ["query_id", "data_source", "pubmed_id", "abstract"]}

for data_source, item in query_info.items():
    for query_id, doc_ids in item.items():
        for doc_id in doc_ids:
            for_dataframe['query_id'].append(query_id)
            for_dataframe['data_source'].append(data_source)
            for_dataframe['pubmed_id'].append(doc_id)
            for_dataframe['abstract'].append(doc_id2abstract[doc_id])

In [10]:
fin_df = (
    pd.DataFrame(for_dataframe)
    .merge(df, on=["query_id", "data_source"])
)
fin_df = fin_df.assign(query_processed=fin_df.description)
print(len(fin_df))
fin_df.head(2)

492

,query_id,data_source,pubmed_id,abstract,description,query,label,query_processed
0,151,2022,19306025,This study reports the development and evaluat...,Do tea bags help to clot blood in pulled teeth?,tea bags clot blood pulled teeth,1.0,Do tea bags help to clot blood in pulled teeth?
1,151,2022,25024733,Background. Removing tooth results in gingival...,Do tea bags help to clot blood in pulled teeth?,tea bags clot blood pulled teeth,1.0,Do tea bags help to clot blood in pulled teeth?

In [11]:
fin_df.to_csv("explorer_abstracts_query_2022.csv", index=0)